<script>
$(function() {
                $('#delete_image').on("click", function() {
                    if (confirm('Are you sure you want to delete this?')) {
                    	$('#image img').remove();
	                    var url = document.URL.split("/");
	                    var meth_id = url[4];
	                    var img_id = url[5];

	                    $.ajax({
	                        url: '/casein/'+meth_id+'/'+img_id,
	                        type: 'PATCH',
	                        dataType: 'json',
	                        data: {"delete_image": "delete_image"},
	                        complete: function (jqXHR, textStatus) {
	                        },
	                        success: function (data, textStatus, jqXHR) {
	                            console.log(" ?? profit");                                                                                                                                                              
	                        },
	                        error: function (jqXHR, textStatus, errorThrown) {
	                        }
	                    });
	                }
              });
        });
</script>

<div class="row">
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :session_name %>
	</div>
	<div class="col-lg-6">
		<%= casein_date_select f, f.object, :broadcast_date %>
	</div>

	<div class="col-lg-12">
		<%= casein_text_area f, f.object, :altnotes %>
	</div>

	<div class="col-lg-6" id="image">
		<%= casein_file_field f, f.object, "broadcast", :image , { :casein_label => "Broadcast image (160px wide, 160px tall)"}%>
		<% if @broadcast.image? then %>
			<%= image_tag(@broadcast.image, width: '300') %>
			<p id="delete_image">Delete image?</p>
			<% else content_tag(:span, "No image yet") end %>
	</div>

	<div class="col-lg-6" id="image">
		<%= casein_file_field f, f.object, "broadcast", :background_image , { :casein_label => "Broadcast featured image (1440px wide, 900px tall)"}%>
		<% if @broadcast.background_image? then %>
			<%= image_tag(@broadcast.background_image, width: '300') %>
			<p id="delete_image">Delete background image?</p>
			<% else content_tag(:span, "No background image yet") end %>
	</div>

	<div class="col-lg-12">
		<%= casein_check_box f, f.object, :highlight, { :casein_label => "Add to 'highlights' filter in sidepanel?"}%>
	</div>

	<div class="col-lg-12">
		<%= casein_check_box f, f.object, :featured, { :casein_label => "Add to 'featured' section?"}%>
	</div>

</div>
