<h2>Add a new broadcast</h2>

<%= form_for @broadcast, :url => casein_broadcasts_path do |f| %>
    <div class="col-lg-6">
        <div class="col-lg-6">
		<%= casein_file_field f, f.object, "broadcast", :spreadsheet , { :casein_label => "Broadcast spreadsheet"}%>
		</div>
    </div>
	<p class="submits">
		<%= link_to 'Cancel', casein_broadcasts_path, :class => 'btn btn-mini btn-danger' %>
		<%= f.submit "Add new broadcast", :class => "btn btn-mini btn-primary" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
	<li><%= link_to "#{casein_show_icon "th-list"}Back to list".html_safe, casein_broadcasts_path %></li>
<% end %>