<div class="row">
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :name %>
	</div>
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :part %>
	</div>

	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :soundcloudId, { :casein_label => "Soundcloud embed code"} %>
	</div>

	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :permalink, { :casein_label => "Soundcloud link"} %>
	</div>

	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :downloadlink, { :casein_label => "Soundcloud download link"} %>
	</div>

	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :secret, { :casein_label => "Soundcloud private track 'secret token'"} %>
	</div>

	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :mixcloudId %>
	</div>

	<div class="col-lg-6">
		<%= casein_file_field f, f.object, "mix", :background_image , { :casein_label => "Mix background image: 1440px wide, 900px high"}%>
		<%= if @mix.background_image? then image_tag(@mix.background_image, width: '300', height: 'auto') else content_tag(:span, "No image yet") end %>
	</div>

	<div class="col-lg-6">
		<%= casein_file_field f, f.object, "mix", :mix_image , { :casein_label => "Mix thumbnail image: 160px wide, 160px high"}%>
		<%= if @mix.mix_image? then image_tag(@mix.mix_image, width: '300', height: 'auto') else content_tag(:span, "No image yet") end %>
	</div>

</div>
